*.o
*.so
*.so.*
*.a
*.pc
ulfius-cfg.h
example_programs/auth_example/auth_client
example_programs/auth_example/auth_server
example_programs/injection_example/injection_example
example_programs/proxy_example/proxy
example_programs/request_example/client
example_programs/request_example/mail
example_programs/request_example/server
example_programs/simple_example/simple_example
example_programs/stream_example/stream_example
example_programs/stream_example/stream_client
example_programs/test_u_map/test_u_map
example_programs/multiple_callbacks_example/multiple_callbacks_example
example_programs/sheep_counter/sheep_counter
example_programs/websocket_example/websocket_server
example_programs/websocket_example/websocket_client
example_programs/*/valgrind*.txt
test/valgrind*.txt
test/*.o
test/core
test/u_map
test/framework
test/websocket
tools/uwsc/uwsc
tools/uwsc/valgrind.txt
*.log
*.crt
*.key
doc/API.md
